@import '../../assets/styles/global';

.Pagination {
  .ant-pagination-item {
    border-color: $primary;

    &:focus-visible,
    &:hover {
      border-color: $primary;
    }

    &:hover(:not(.ant-pagination-item-active)) {
      a {
        color: $primary
      }
    }

    &-active {
      background: $primary;

      a {
        color: $white;
      }
    }
  }

  .ant-pagination-prev:focus-visible .ant-pagination-item-link, .ant-pagination-next:focus-visible .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: $primary;
    color: $primary;
  }
}