@import '../../assets/styles/global';

.BlogBox {
  &-image {
    position: relative;
    background: $mercury;

    img {
      width: 100%;
      user-select: none;
      opacity: 0.9;
    }
  }

  &-date {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 15px;
    text-align: center;
    color: $white;
    background: $primary;
    pointer-events: none;
    z-index: 3;
  }

  &:hover {
    .BlogBox-overlay {
      opacity: 1;
    }
  }

  &-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .6);
    transition: $common-transition;
    opacity: 0;

    &-icon {
      width: 40px;
      height: 40px;
      background: $white;

      .Icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  &-info {
    padding: 24px 0;
  }

  &-title {
    display: block;
    text-align: center;
    font-size: 16px;
    color: $mine-shaft;
    font-weight: 600;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;

    &:hover {
      color: $primary;
    }
  }

  &-des {
    text-align: center;
    line-height: 1.8;
    font-size: 14px;
    color: $dove-gray;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    margin: 16px 0;
  }

  &-read-more {
    text-transform: uppercase;
    font-size: 16px;
    color: $mine-shaft;
    text-align: center;
    display: block;
    font-weight: 600;
  }
}