@import '../../assets/styles/global';

.AdminLayout {
  &-sidebar {
    flex: 0 0 290px;
    max-width: 290px;
  }

  &-main {
    flex: 0 0 calc(100vw - 290px);
    max-width: calc(100vw - 290px);
  }

  &-body {
    background: $wild-sand;
    height: calc(100vh - 82px);
    padding: 30px;
    overflow: auto;
  }
}