@import '../../assets/styles/global';

.UploadSingleImage {
  &-upload-main {
    position: relative;
    &-loading {
      position: absolute;
      background: rgba($black, 0.2);
      width: 100%;
      height: 100%;
      z-index: 3;
      border-radius: 4px;
    }
  }
  
  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: $primary;
  }

  .ant-upload.ant-upload-drag {
    border-radius: 4px;
    padding: 15px;

    .ant-upload-loading

    .ant-upload-text {
      font-weight: 600;
    }
  
    .ant-upload-hint {
      font-size: 12px;
    }
  }

  .ant-upload-drag-icon {
    .Icon {
      width: 48px;
      height: 48px;
      margin: 0 auto;
    }
  }

  &-upload-image {
    margin-top: 24px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $mercury;
    img {
      width: 100%;
    }
  }
}