@import '../../assets/styles/global';

.Input {
  .Input-control {
    padding: 10px 15px;
    width: 100%;
    font-size: $common-font-size;
    border-radius: $common-radius;
    border-color: $mercury;
    height: 40px;
  
    &:hover {
      border-color: $primary;
    }
  
    &:focus,
    &.ant-input-focused {
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba($primary, 0.2);
    }

    &.ant-input-lg {
      height: 45px;
    }
  }
}