@import '../../assets/styles/global';

.DropdownList {
  &-overlay {
    background: $white;
    box-shadow: $common-shadow;
    border-radius: $common-radius;
    overflow: hidden;
  }

  &-body {
    cursor: pointer;
  }

  &-option {
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
    display: block;
    transition: $common-transition;
    color: $mine-shaft;

    &:hover {
      background: $wild-sand;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $mercury;
    }
  }
}