@import '../../assets/styles/global';

.FilterGroupColor {
  &-wrapper {
    margin-bottom: -4px;
  }

  &-item {
    width: 30px;
    height: 30px;
    margin: 0 4px 4px;
    border: 1px solid $mercury;
    cursor: pointer;
    position: relative;

    &:hover,
    &.checked {
      .Icon,
      &::before {
        opacity: 1;
      }
    }

    .Icon,
    &::before {
      opacity: 0;
      transition: $common-transition;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, 0.2);
      z-index: 2;
      content: '';
    }

    .Icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      z-index: 3;
    }
  }

  &-wrapper {
    max-height: 220px;
    overflow: auto;
  }
}