@import '../../assets/styles/global';

.SelectColor {
  margin-bottom: 12px;

  &-label {
    font-size: 16px;
    font-weight: 600;
    color: $mine-shaft;
    margin-right: 15px;
    margin-bottom: 4px;
  }

  .CircleColor {
    margin-right: 12px;
    margin-bottom: 4px;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
    }
  }
}