@import '../../assets/styles/global';

.Button {
  .Button-control {
    border-radius: $common-radius;
    height: 40px;
    width: 100%;

    &.ant-btn-lg {
      height: 45px;
      padding: 10px 30px;
    }

    &-icon {
      max-width: 16px;
      flex: 0 0 16px;

      .Icon {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      font-size: $common-font-size;
      margin: 0 10px;
    }

    &.ant-btn-primary {
      border-color: $primary;
      background: $primary;

      &:hover {
        border-color: $mine-shaft;
        background: $mine-shaft;
      }
    }

    &[disabled] {
      color: rgba($black, 0.25) !important;
      border-color: $wild-sand !important;
      background: $wild-sand !important;
    }
  }

  &.secondary {
    .Button-control {
      border-color: $mine-shaft;
      background: $mine-shaft;

      &-title {
        color: $white;
      }

      &:hover {
        border-color: $primary;
        background: $primary;
      }
    }
  }
}