@import '../../assets/styles/global';

.Carousels {
  &.onHoverShowArrow {
    .slick-arrow {
      opacity: 0;
      &.slick-prev {
        left: -25px;
      }
  
      &.slick-next {
        right: -25px;
      }
    }

    &:hover {
      .slick-arrow {
        opacity: 1;
      }

      .slick-prev {
        left: 25px;
      }
  
      .slick-next {
        right: 25px;
      }
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    z-index: 3;
    transition: $common-transition;

    &.slick-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      .Button-control {
        pointer-events: none;
      }
    }

    .Button-control {
      width: 40px;
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .Icon {
        width: 15px;
        height: 15px;
      }
    }

    &::before {
      display: none;
    }

    &.slick-prev {
      left: 25px;
      .Icon {
        transform: translateX(-1px);
      }
    }

    &.slick-next {
      right: 25px;
    }
  }
}