@import '../../assets/styles/global';

.AuthForm {
  width: 470px;
  padding: 30px;
  border: 1px solid $mercury;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-logo {
    max-width: 125px;
    width: 100%;
    margin: 0 auto 30px;

    img {
      width: 100%;
    }
  }

  &-social {
    margin-bottom: 10px;

    &-item {
      width: 44px;
      height: 44px;
      border-radius: 4px;
      display: flex;
      box-shadow: 0 2px 4px 0 rgba($black, 0.25);
      margin: 0 4px;
      transition: $common-transition;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      &.facebook {
        background: $azure-radiance;
      }

      img {
        width: 26px;
        margin: auto;
      }
    }
  }

  &-title {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0 10px 0;

    &::before {
      content: '';
      height: 3px;
      width: 100%;
      background-color: #105caa;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-form {
    width: 100%;
    margin: 15px 0 0;

    .ant-form-item {
      margin-bottom: 10px;
    }

    &-btns {
      margin: 15px 0 10px 0;
    }
  }

  &-des {
    font-size: 12px;
    color: $dove-gray;
    text-align: center;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 16px;
    margin: 5px 0;
  }

  &-link {
    font-size: 14px;
    color: $dove-gray;
    text-decoration: underline !important;
    text-align: center;
  }
}