@import '../../assets/styles/global';

.InputNumber {
  &-control {
    border-radius: 4px;
    width: 100%;

    &:focus,
    &.ant-input-number-focused,
    &:hover {
      border-color: $primary;
    }

    .ant-input-number-input {
      height: 40px;
    }
  }
}