@import '../../assets/styles/global';

.Banner {
  background: url('../../assets/images/banner/bg-banner.png');
  background-size: cover;
  background-position: center;

  &-item {
    &-wrapper {
      height: 520px;
    }

    &.content-right {
      .Banner-content {
        align-items: flex-end;
        text-align: right;
      }

      .Banner-item-wrapper {
        flex-direction: row-reverse;
      }
    }
  }

  &-subtitle {
    color: $mine-shaft;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -5px;
  }

  &-title {
    color: $primary;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
  }

  &-des {
    margin-top: 10px;
    font-family: Courgette, sans-serif;
    font-size: 24px;
  }

  &-image {
    width: 100%;
    max-width: 400px;

    img {
      width: 100%;
    }
  }
}