@import '../../assets/styles/global';

.CircleColor {
  width: 18px;
  height: 18px;
  box-shadow: $common-shadow;
  border-radius: 50%;
  transition: $common-transition;

  &.active {
    border: 2px solid $primary;
  }
}