@import '../../assets/styles/global';

.TextArea {
  &-control {
    border-radius: 4px;
    padding: 10px 15px;
    min-height: 100px !important;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
}