@import '../../assets/styles/global';

.Tabs {
  .ant-tabs {
    .ant-tabs-nav {
      &::before {
        display: none;
      }

      .ant-tabs-nav-wrap {
        justify-content: center;

        .ant-tabs-ink-bar {
          display: none;
        }

        .ant-tabs-tab {
          padding: 0;
          margin: 0 15px;

          &+.ant-tabs-tab {
            margin: 0;
          }

          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: $white;
              background: $primary;
            }
          }

          .ant-tabs-tab-btn {
            padding: 0px 20px;
            font-size: 14px;
            text-transform: uppercase;
            color: $mine-shaft;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:hover {
              color: $white;
              background: $primary;
            }
          }
        }
      }
    }
  }
}