@import '../../assets/styles/global';

.DropdownCustom {
  &-overlay {
    background: $white;
    box-shadow: $common-shadow;
    border-radius: $common-radius;
  }

  &-body {
    cursor: pointer;
  }
}