@import '../../assets/styles/global';

.Subscribe {
  margin-top: 80px;

  &-column {
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      background: $wild-sand;
    }

    &:nth-of-type(2) {
      position: relative;
      height: 430px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }
  }

  &-title {
    font-size: 24px;
    color: $mine-shaft;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
  }

  &-des {
    font-size: 14px;
    text-align: center;
    color: $dove-gray
  }

  &-form {
    background: $white;
    border: 1px solid $primary;
    margin-top: 15px;

    .ant-form-item {
      margin-bottom: 0;
    }

    .Button-control,
    .Input-control {
      border-radius: 0;
    }

    .Input-control {
      min-width: 320px;
    }
  }
}