@import '../../assets/styles/global';

.Cart {
  &-wrapper {
    padding: 80px 0 50px;
  }

  &-table {
    table {
      width: 100%;

      thead {
        td {
          font-size: 16px;
          font-weight: 600;
          padding: 10px 15px;
        }
      }

      td {
        padding: 15px;
        font-size: 14px;
        border: 1px solid $mercury;
      }
    }

    &-action {
      max-width: 70px;
      width: 70px;

      .Button {
        width: 40px;
      }
    }

    &-checkbox {
      max-width: 47px;
      width: 47px;
    }

    &-total {
      padding: 10px 15px;
      border-left: 1px solid $mercury;
      border-right: 1px solid $mercury;

      &-label,
      &-price {
        font-size: 16px;
        font-weight: 600;
      }

      &-label {
        color: $mine-shaft;
      }

      &-price {
        color: $primary;
      }
    }

    &-footer {
      padding: 10px 15px;
      border: 1px solid $mercury;

      &-col {
        &:first-of-type {
          .Button {
            margin-right: 8px;
          }
        }

        &:last-of-type {
          .Button {
            margin-left: 8px;
          }
        }
      }
    }
  }

  &-image {
    flex: 0 0 120px;
    max-width: 120px;
    background: $mercury;
    border: 1px solid $mercury;
    margin-right: 15px;

    img {
      width: 100%;
      opacity: 0.9;
    }
  }

  &-info {
    &-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;

      &-sale {
        font-size: 12px;
        color: $white;
        background: $primary;
        padding: 2px 6px;
        margin-left: 5px;
      }
    }

    &-content {
      font-size: 14px;
      font-weight: 600;
      color: $mine-shaft;
      margin-bottom: 5px;

      span {
        font-weight: 400;
        color: $dove-gray;
      }
    }
  }

  &-quantity {
    max-width: 120px;
    width: 120px;

    .InputNumber {
      width: 90px;
    }
  }

  &-price {
    font-size: 16px;
    color: $primary;
    font-weight: 600;

    del {
      font-size: 12px;
      color: $dusty-gray;
      font-weight: 400;
      display: block;
    }
  }

  &-empty {
    border: 1px solid $mercury;
    padding: 30px 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    color: $primary;
    font-weight: 600;

    .Icon {
      width: 90px;
      height: 90px;
      margin-bottom: 25px;
      margin-left: -15px;
    }

    .Button {
      margin-top: 25px;
    }
  }
}