@import '../../assets/styles/global';

.Services {
  &-item {
    flex: 0 0 calc(100% / 4 - 15px);
    max-width: calc(100% / 4 - 15px);

    &:hover {
      .Services-icon {
        transform: rotateY(360deg);
      }
    }
  }

  &-icon {
    width: 45px;
    height: 45px;
    margin: 0 auto 25px;
    transition: $common-transition;
    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 18px;
    color: $mine-shaft;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }

  &-des {
    font-size: 14px;
    color: $dove-gray;
    text-align: center;
  }
}