@import '../../assets/styles/global';

.SelectConfig {
  margin-bottom: 12px;

  &-label {
    font-size: 16px;
    font-weight: 600;
    color: $mine-shaft;
    margin-right: 15px;
    margin-bottom: 4px;
  }

  .Button {
    margin-right: 4px;
    margin-bottom: 4px;

    &-control {
      padding: 8px;
    }
  }
}