@import '../../assets/styles/global';

.BoxCategory {
  position: relative;
  display: block;
  overflow: hidden;
  background: $mercury;

  &-image {
    opacity: 0.9;
    position: relative;
    img {
      pointer-events: none;
      width: 100%;
    }
  }

  &:hover {
    .BoxCategory-label {
      transform: translateY(0%);
    }
  }

  &-label {
    position: absolute;
    transition: $common-transition;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
    transform: translateY(100%);
    background: $primary;
    text-align: center;

    &:hover {
      color: $white;
      background: $mine-shaft;
    }
  }
}