@import '../../assets/styles/global';

.Breadcrumb {
  background: $wild-sand;
  padding: 15px 0;

  .Icon {
    width: 12px;
    height: 12px;
    display: inline-flex;
  }

  .ant-breadcrumb {
    &-separator {
      margin-right: 8px;
    }

    .Breadcrumb-link {
      font-size: 14px;
      color: $dove-gray;

      &:hover,
      &.active-link {
        color: $primary
      }
    }

  }
}