@import '../../assets/styles/global';

.Select {
  &-control {
    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 4px;
    }

    &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 15px;
    }

    &:not(.ant-select-disabled):hover {
      .ant-select-selector {
        border-color: $primary;
      }
    }

    &.ant-select-focused:not(.ant-select-disabled):not(.ant-select-customize-input) {
      .ant-select-selector {
        border-color: $primary;
      }
    }
  }

  &__dropdown {
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background: rgba($primary, 0.1);
    }

    .ant-select-item {
      padding: 8px 12px;
    }
  }
}