@import '../../assets/styles/global';

.ModalPreviewProduct {
  &-image {
    max-width: 40%;
    flex: 0 0 40%;
    background: $mercury;
    img {
      width: 100%;
      opacity: 0.9;
    }
  }

  &-info {
    flex: 1;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid $mercury;

    &-title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0;

      &-sale {
        margin-left: 10px;
      }
    }

    &-price {
      &-current {
        font-size: 16px;
        font-weight: 600;
        color: $mine-shaft;
        margin-right: 10px;
      }

      &-old {
        margin-right: 10px;
        font-size: 12px;
        color: $dusty-gray;
      }
    }

    &-description {
      padding: 25px 0;
      margin: 25px 0;
      border-top: 1px solid $mercury;
      border-bottom: 1px solid $mercury;
      font-size: 14px;
      color: $dove-gray;
      line-height: 1.8;
    }

    &-options {
      &:not(:last-of-type) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $mercury;
      }

      &-config {
        margin-bottom: 12px;

        &-label {
          font-size: 16px;
          font-weight: 600;
          color: $mine-shaft;
          margin-right: 15px;
        }

        &-text {
          font-size: 14px;
          color: $dove-gray;
          margin-bottom: 0;
        }

        .InputNumber {
          max-width: 80px;
        }

        .Button {
          margin-right: 4px;

          &-control {
            padding: 8px;
          }
        }

        .CircleColor {
          margin-right: 12px;
        }
      }

      &-btns {
        margin-top: 30px;
        .Button {
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

}