@import '../../assets/styles/global';

.PageHeader {
  margin-bottom: 24px;
  
  .container {
    width: 100%;
    padding: 0;
  }

  &-title {
    font-size: 24px;
    color: $mine-shaft;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .Breadcrumb {
    padding: 0;
  }
}