@import '../../assets/styles/global';

.Categories {
  &-filter {
    max-width: 270px;
    flex: 0 0 270px;
    margin-right: 30px;
  }

  &-overview {
    flex: 1;

    &-image {
      max-width: 150px;
      flex: 0 0 150px;
      background: $dove-gray;
      margin-right: 15px;
      border: 1px solid $mercury;

      img {
        width: 100%;
        opacity: 0.9;
      }
    }

    &-info {
      font-size: 14px;
      color: $dove-gray;
      line-height: 1.8;
    }
  }

  &-sort {
    margin: 24px 0;
    padding: 15px;
    background: $wild-sand;

    &-label {
      font-size: 16px;
      color: $dove-gray;
      font-weight: 600;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .Select {
      margin-left: 15px;
    }
  }

  &-pagination {
    margin: 15px 0 50px;
    font-size: 14px;
    color: $dove-gray;
    font-weight: 300;
  }

  &-products-view {
    margin: 0 -10px;

    &-item {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }

  .FilterGroupColor,
  .FilterGroupWithCheckbox {
    margin-bottom: 24px;
  }
}