@import '../../assets/styles/global';

.ModuleProductDetail {
  padding: 30px;
  border: 1px solid $mercury;
  background: $white;

  &-main {
    &-col {
      &:nth-of-type(1) {
        flex: 1;
        padding-right: 30px;
      }

      &:nth-of-type(2) {
        flex: 0 0 320px;
        max-width: 320px;
      }

      &:nth-of-type(3) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &-form-item {
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;

    &.half {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }

  &-submit {
    margin-top: 24px;
    .Button {
      margin-left: 12px;
    }
  }

  &-loading {
    min-height: 60vh;
  }
};