@import '../../assets/styles/global';

.Product {
  &-loading {
    .Loading {
      min-height: 100vh;
    }
  }

  &-description {
    margin-top: 30px;
  }

  &-view {
    padding: 80px 0;

    &-image {
      position: relative;
      z-index: 3;
      flex: 0 0 500px;
      max-width: 500px;
      margin-right: 30px;
      border: 1px solid $mercury;
      background: $mercury;

      img {
        width: 100%;
      }
    }

    &-info {
      flex: 1;

      &-title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0;
      }

      &-review {
        margin: 0 0 30px 0;

        &-star {
          margin-right: 5px;

          .Icon {
            width: 12px;
            height: 12px;
          }
        }

        &-write-review {
          font-size: 14px;
          color: $dove-gray;
        }
      }

      &-price {
        &-current {
          font-size: 16px;
          font-weight: 600;
          color: $mine-shaft;
          margin-right: 10px;
        }

        &-old {
          margin-right: 10px;
          font-size: 12px;
          color: $dusty-gray;
        }

        &-sale {
          font-size: 13px;
          color: $white;
          background: $primary;
          padding: 3px 8px;
        }
      }

      &-content {
        padding: 30px 0;
        margin: 30px 0;
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;

        p {
          line-height: 1.8;
          font-size: 14px;
          color: $dove-gray;
          margin-bottom: 15px;
        }

        &-status {
          font-size: 14px;
          font-weight: 600;
          color: $mine-shaft;
          margin-bottom: 15px;

          &-label {
            margin-left: 15px;
            color: $eucalyptus;
            font-size: 18px;

            .Icon {
              margin-left: 10px;
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      &-options {
        &:not(:last-of-type) {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid $mercury;
        }

        &-config {
          margin-bottom: 12px;

          .InputNumber {
            max-width: 80px;
          }

          &-label {
            font-size: 16px;
            font-weight: 600;
            color: $mine-shaft;
            margin-right: 15px;
          }

          &-text {
            font-size: 14px;
            color: $dove-gray;
            margin-bottom: 0;
          }

          .Button {
            margin-right: 4px;

            &-control {
              padding: 8px;
            }
          }

          .CircleColor {
            margin-right: 12px;
          }
        }

        &-btns {
          margin-top: 30px;

          .Button {
            flex: 0 0 calc(50% - 10px);
            max-width: calc(50% - 10px);
          }

          &.buy-now {
            margin-top: 10px;
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  &-payment-cards {
    &-item {
      border-radius: 4px;
      overflow: hidden;
      width: 40px;
      margin-left: 5px;
    }
  }

  &-related {
    margin-bottom: 120px;
  }
}