@import '../../assets/styles/global';

.Modal {
  &-overlay {
    .ant-modal-header {
      padding: 15px;
      height: 48px;
      border-color: $mercury;
  
      .ant-modal-title {
        color: $mine-shaft;
        font-weight: 600;
      }
    }
  
    .ant-modal-body {
      padding: 15px;
    }
  
    .ant-modal-close-x {
      height: 48px;
      width: 48px;
      display: flex;
  
      .Icon {
        margin: auto;
        width: 24px;
        height: 24px;
      }
    }
  }
}