@import '../../assets/styles/global';

.AdminHeader {
  background: $white;
  padding: 20px 40px;
  height: 82px;
  box-shadow: 0 0 20px rgb(25 124 207 / 8%);
  border-bottom: 1px solid $mercury;

  &-icon {
    position: relative;
    border-radius: 4px;
    width: 35px;
    height: 30px;
    transition: $common-transition;
    cursor: pointer;
    margin-right: 25px;
    display: flex;

    .Icon {
      margin: auto;
    }

    &:hover {
      background: $wild-sand;
    }

    &-notify {
      position: absolute;
      width: 5px;
      height: 5px;
      background: $sangria;
      top: 3px;
      right: 5px;
      border-radius: 50%;
      pointer-events: none;
    }

    .Icon {
      width: 18px;
    }
  }
}