@import '../../assets/styles/_global.scss';

.HoverBoxEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    pointer-events: none;

    &.gray {
      border: 70px solid rgba($white, 0);
    }

    &.white {
      border: 30px solid rgba($white, 0.8);
      transform: scale(0);
    }
  }

  &:hover {
    .HoverBoxEffect-box {
      &.gray {
        border: 0 solid rgba($white, 0.7);
      }

      &.white {
        opacity: 0;
        transform: scale(.7);
      }
    }
  }
}