@import '../../assets/styles/global';

.Checkout {
  background: linear-gradient(to right, $white 50%, $wild-sand 50%);

  &-main {
    border: 1px solid $mercury;
  }

  &-col {
    &:first-of-type {
      flex: 0 0 60%;
      max-width: 60%;
      border-right: 1px solid $mercury;
      background: $white;
      padding: 55px 45px 0 0;
    }

    &:last-of-type {
      flex: 0 0 40%;
      max-width: 40%;
      padding: 55px 0 55px 45px;
      background: $wild-sand;
    }
  }

  &-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &-form {
    &-item {
      margin-bottom: 20px;
      flex: 0 0 100%;
      max-width: 100%;

      &.half {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
      }

      &-btns {
        margin-top: 24px;

        .Button {
          margin-right: 8px;
        }
      }
    }
  }

  &-reserved {
    margin-top: 50px;
    padding: 15px 0;
    font-size: 14px;
    color: $dove-gray;
    border-top: 1px solid $mercury;
  }

  &-products {
    padding: 15px 0;

    &-item {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &-info {
        &-image {
          position: relative;
          background: $mercury;
          flex: 0 0 65px;
          max-width: 65px;
          margin-right: 15px;
          border: 1px solid $mercury;

          &-quantity {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            background: $mine-shaft;
            transform: translate(50%, -50%);
            z-index: 2;
          }

          img {
            width: 100%;
            opacity: 0.9;
          }
        }

        &-content {
          &-title {
            font-size: 14px;
            color: $mine-shaft;
            font-weight: 600;
            margin: 0;

            &-sale {
              font-size: 12px;
              color: $white;
              background: $primary;
              padding: 2px 6px;
              margin-left: 5px;
            }
          }

          &-des {
            font-size: 12px;
            color: $dove-gray;
            margin: 0;
          }
        }
      }

      &-price {
        text-align: right;
        font-weight: 600;
        font-size: 16px;
        color: $mine-shaft;

        del {
          font-size: 12px;
          color: $dusty-gray;
          font-weight: 400;
          display: block;
        }
      }
    }
  }

  &-price-info {
    padding: 15px 0;
    border-top: 1px solid $mercury;

    &.total {
      .Checkout-price-info {
        &-title {
          font-size: 18px;
        }
    
        &-des {
          font-size: 24px;
          color: $primary;
        }
      }
    }

    &-title {
      font-size: 12px;
      color: $dove-gray;
    }

    &-des {
      font-size: 14px;
      color: $mine-shaft;
      font-weight: 600;
    }
  }
}