@import '../../assets/styles/global';

.FilterGroupWithCheckbox {
  &-checkbox {
    padding: 10px 15px;

    &:not(:last-of-type) {
      border-bottom: 1px solid $mercury;
    }
  }

  &-wrapper {
    max-height: 220px;
    overflow: auto;
  }
}