@import '../../assets/styles/global';

.Checkbox {
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $primary;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background: $primary;
    border-color: $primary;
  }
}