@import '../../assets/styles/global';

.UpdateOrder {
  &-body {
    padding: 30px;
    border: 1px solid $mercury;
    background: $white;
  }

  &-loading {
    min-height: 60vh;
  }

  &-content {
    margin-bottom: 10px;
    flex: 0 0 50%;
    max-width: 50%;

    &.full {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &-title {
      font-size: 14px;
      font-weight: 600;
      color: $mine-shaft;
    }

    &-description {
      color: $dove-gray;
      font-size: 14px;
    }
  }

  &-products {
    padding: 30px 0;
    margin-top: 50px;
    border-top: 2px dashed $mercury;
  }

  &-products {
    &-item {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      &-info {
        &-image {
          position: relative;
          background: $mercury;
          flex: 0 0 80px;
          max-width: 80px;
          margin-right: 15px;
          border: 1px solid $mercury;

          &-quantity {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            background: $mine-shaft;
            transform: translate(50%, -50%);
            z-index: 2;
          }

          img {
            width: 100%;
            opacity: 0.9;
          }
        }

        &-content {
          &-title {
            font-size: 16px;
            color: $mine-shaft;
            font-weight: 600;
            margin: 0;

            &-sale {
              font-size: 12px;
              color: $white;
              background: $primary;
              padding: 2px 6px;
              margin-left: 5px;
            }
          }

          &-des {
            font-size: 14px;
            color: $dove-gray;
            margin: 0;
          }
        }
      }

      &-price {
        text-align: right;
        font-weight: 600;
        font-size: 16px;
        color: $mine-shaft;

        del {
          font-size: 12px;
          color: $dusty-gray;
          font-weight: 400;
          display: block;
        }
      }
    }
  }

  &-price-info {
    padding: 15px 0;
    border-top: 1px solid $mercury;

    &.total {
      .UpdateOrder-price-info {
        &-title {
          font-size: 20px;
          font-weight: 600;
          color: $mine-shaft;
        }
    
        &-des {
          font-size: 26px;
          color: $primary;
        }
      }
    }

    &-title {
      font-size: 14px;
      color: $dove-gray;
    }

    &-des {
      font-size: 15px;
      color: $mine-shaft;
      font-weight: 600;
    }
  }

  &-submit {
    border-top: 2px dashed $mercury;
    padding-top: 30px;
  }
}