@import '../../assets/styles/_global.scss';

.Section {
  margin-top: 80px;

  &-header {
    margin-bottom: 30px;
  }

  &-title {
    position: relative;
    text-align: center;
    font-size: 24px;
    color: $mine-shaft;
    font-weight: 600;

    &::before {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 8px);
      height: 3px;
      content: '';
      background: $primary;
    }
  }
}