@import '../../assets/styles/global';

.EmptyState {
  padding: 30px;
  text-align: center;

  &-icon {
    width: 160px;
    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    color: $mine-shaft;
    margin: 10px 0 5px;
  }

  &-description {
    color: $dove-gray;
    font-size: 14px;
  }
}