.TabProducts {
  &-item {
    width: 100% !important;
  }

  .Carousels {
    .slick-list {
      margin-bottom: 60px;
    }

    .slick-arrow {
      &.slick-prev {
        left: 50%;
        top: calc(100% + 40px);
        transform: translate(calc(-100% - 12px), -100%);
      }

      &.slick-next {
        right: 50%;
        top: calc(100% + 40px);
        transform: translate(calc(100% + 12px), -100%);
      }
    }
  }
}