@import '../../assets/styles/global';

.Table {
  padding: 30px;
  border: 1px solid $mercury;
  background: $white;

  .ant-table {
    border: 1px solid $mercury;

    .ant-table-content {
      overflow: auto hidden;
    }

    .ant-table-tbody>tr>td {
      border: none;
    }

    .ant-table-tbody tr:not(:last-of-type) td {
      border-bottom: 1px solid $mercury;
    }
  }

  &-main {
    &-header {
      &-item {
        font-size: 14px;

        .Select {
          margin: 0 5px;
        }

        .Input {
          min-width: 240px;
          margin-left: 5px;
        }
      }
    }

    &-body {
      margin: 30px 0;
    }

    &-footer {
      &-item {
        font-size: 14px;
        color: $dove-gray;
      }
    }
  }

  &-image {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $mercury;
    background: $mercury;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.9;
      margin: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &-colors,
  &-tags {
    margin-bottom: -4px;
  }

  .CircleColor,
  &-tag-item {
    margin: 0 4px 4px 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-link {
    color: $primary;
    font-weight: 600;
  }

  &-actions {
    margin-bottom: -4px;

    .Button {
      margin: 0 4px 4px 0;
      flex: 0 0 40px;
      max-width: 40px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}