@import '../../assets/styles/global';

.MultipleSelect {

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: $primary;
  }


  .ant-select-multiple {
    .ant-select-selector {
      min-height: 40px;
      border-radius: 4px;
    }
  }

  &__dropdown {
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background: rgba($primary, 0.1);
    }

    .ant-select-item {
      padding: 8px 12px;
    }

    .anticon-check svg {
      fill: $primary;
    }
  }
}