@import '../../assets/styles/global';

.BoxProduct {
  &-image {
    position: relative;
    border: 1px solid $mercury;
    background: $mercury;
    overflow: hidden;

    img {
      width: 100%;
      opacity: 0.9;
      user-select: none;
    }
  }

  &-label {
    height: 26px;
    font-size: 13px;
    position: absolute;
    top: 0;
    padding: 3px 8px;
    z-index: 2;

    &.new {
      left: 0;
      color: $white;
      background: $primary;
    }

    &.discount {
      right: 0;
      color: $white;
      background: $mine-shaft;
    }

    &.soldout {
      left: 0;
      color: $white;
      background: $sangria;
    }
  }

  &-info {
    padding: 30px 0;
  }

  &-title {
    color: $dove-gray;
    text-align: center;
    font-size: 14px;
    display: block;
  }

  &-price {
    font-size: 16px;
    color: $mine-shaft;
    font-weight: 600;
    margin: 0 3px;
  }

  &-old-price {
    color: $dusty-gray;
    font-size: 14px;
    margin: 0 3px;
  }

  &-color {
    margin-bottom: 8px;
    .CircleColor {
      margin: 0 4px;
    }
  }

  &:hover {
    .BoxProduct-actions-btn {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &-actions {
    position: absolute;
    right: 15px;
    bottom: 15px;


    .Tooltip {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &:nth-of-type(1) {
        .BoxProduct-actions-btn {
          transition-delay: 0.2s;
        }
      }

      &:nth-of-type(2) {
        .BoxProduct-actions-btn {
          transition-delay: 0.4s;
        }
      }

      &:nth-of-type(3) {
        .BoxProduct-actions-btn {
          transition-delay: 0.6s;
        }
      }
    }

    &-btn {
      transition: $common-transition;
      opacity: 0;
      transform: translateX(100%);

      &.cart {
        .Icon {
          transform: translateX(-1px);
        }
      }

      .Button-control {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .Icon {
        width: 18px;
        height: 18px;
      }
    }
  }
}