@import '../../assets/styles/global';

.Brands {
  margin-top: 120px;

  &-item {
    padding: 10px 20px;
    &:hover img {
      opacity: 1;
    }
    img {
      width: 100%;
      opacity: 0.6;
      transition: $common-transition;
    }
  }
}