@import '../../assets/styles/global';

.BoxShopNow {
  position: relative;
  background: $mercury;

  .HoverBoxEffect {
    z-index: 2;
  }

  &-image {
    opacity: 0.9;
    pointer-events: none;
    img {
      width: 100%;
    }
  }

  &-content {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 2;
  }

  &-title {
    font-size: 18px;
    text-transform: uppercase;
    color: $mine-shaft;
    font-weight: 600;
    margin-bottom: 20px;
  }
}