$white: #fff;
$black: #000;

$primary: #105caa;
$lighter-primary: lighten($primary, 5%);

$mercury: #e2e2e2;
$wild-sand: #f5f5f5;
$mine-shaft: #222;
$dove-gray: #666666;
$dusty-gray: #999999;
$sangria: #a00000;
$eucalyptus: #28a745;
$castkill-white: #e0e5f0;
$amber: #ffbf00;
$flame-pea: #dc5230;
$sunset-orange: #FF4D4F;

$azure-radiance: #1877F2;

.primary-color {
  color: $primary;
}