@import './fonts';
@import './constants';
@import './colors';
@import './mixins';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  &:hover {
    color: $lighter-primary;
  }
}

body {
  min-width: 1440px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.nowrap {
  white-space: nowrap;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.ant-card {
  border-color: $mercury;

  .ant-card-head {
    padding: 0;
    background: $wild-sand;
    border-color: $mercury;

    .ant-card-head-title {
      font-weight: 600;
      padding: 10px 15px;
    }
  }

  .ant-card-body {
    padding: 15px;
  }

  &.no-padding {
    .ant-card-body {
      padding: 0;
    }
  }
}

.style-content-editable {
  white-space: pre-wrap;

  h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 15px;
    list-style: square;

    li {
      font-size: 14px;
      color: $dove-gray;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 14px;
    color: $dove-gray;
    line-height: 1.8;
    margin-bottom: 15px;
  }

  img {
    display: block;
    max-width: 550px;
    width: 100%;
    margin: 0 auto 15px;
  }
}

.style-tag {
  font-size: 13px;
  color: $white;
  background: $primary;
  padding: 3px 8px;
}

.Notification {
  position: relative;
  border-radius: 4px;
  padding: 16px;
  box-shadow: $common-shadow;

  .anticon {
    margin: 0 0 8px 0;
    width: 24px;
    height: 24px;

    &.anticon-close {
      background: url('../icons/notification/x-white.svg');
      background-size: cover;
      background-position: center;
    }

    svg {
      display: none;
    }
  }

  .ant-notification-notice-close {
    top: 4px;
    right: 4px;
  }

  .ant-notification-notice-message {
    display: none;
  }

  .ant-notification-notice-description {
    font-size: 14px;
    margin-left: calc(24px + 8px);
    padding-right: 10px;
    white-space: pre-wrap;
  }

  &.ant-notification-notice-success {
    background: $eucalyptus;

    .ant-notification-notice-icon-success {
      background: url('../icons/notification/success-white.svg');
      background-size: cover;
      background-position: center;
    }

    .ant-notification-notice-description {
      color: $white;
    }
  }

  &.ant-notification-notice-info {
    background: $castkill-white;

    .anticon {
      &.anticon-close {
        background: url('../icons/notification/x.svg');
        background-size: cover;
        background-position: center;
      }
    }

    .ant-notification-notice-icon-info {
      background: url('../icons/notification/info-blue.svg');
      background-size: cover;
      background-position: center;
    }

    .ant-notification-notice-description {
      color: $dove-gray;
    }
  }

  &.ant-notification-notice-error {
    background: $flame-pea;

    .ant-notification-notice-icon-error {
      background: url('../icons/notification/alert-triangle-white.svg');
      background-size: cover;
      background-position: center;
    }

    .ant-notification-notice-description {
      color: $white;
    }
  }

  &.ant-notification-notice-warning {
    background: $amber;

    .ant-notification-notice-icon-warning {
      background: url('../icons/notification/alert-octagon.svg');
      background-size: cover;
      background-position: center;
    }

    .ant-notification-notice-description {
      color: $dove-gray;
    }
  }
}

.ant-form {
  .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
    &::before {
      display: none;
    }

    &::after {
      display: inline-block;
      margin-left: 4px;
      color: $sunset-orange;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }

  .ant-form-item-label {
    font-weight: 600;
  }

  .ant-form-item-required {
    display: flex;
  }

  .ant-form-item-has-error {
    .ant-upload.ant-upload-drag {
      border-color: $sunset-orange;
    }
  }
}

.antd-img-crop-modal {
  .ant-modal-footer {
    .ant-btn {
      border-radius: $common-radius;
      height: 40px;
      border-color: $mine-shaft;
      background: $mine-shaft;
      color: $white;

      &:hover {
        border-color: $primary;
        background: $primary;
      }

      &.ant-btn-primary {
        border-color: $primary;
        background: $primary;
  
        &:hover {
          border-color: $mine-shaft;
          background: $mine-shaft;
        }
      }
    }
  }
}