@import '../../assets/styles/global';

.HeaderTop {
  background: $primary;

  &-wrapper {
    padding: 10px 0;
  }

  &-col {
    font-size: 14px;
    color: $white;
    font-weight: 300;
  }

  &-dropdown {
    margin-left: 15px;

    .DropdownList-option {
      min-width: 150px;
    }

    &-item {
      font-size: 14px;

      .Icon {
        width: 8px;
        height: 8px;
        margin-left: 10px;
      }
    }
  }
}

.HeaderMain {
  padding: 15px 0;

  &-logo {
    max-width: 125px;

    img {
      width: 100%;
    }
  }

  &-search {
    flex: 1;
    max-width: 570px;
    height: 42px;

    &-input {
      flex: 1;
    }

    .Input-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .Button-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-action {
    &-item {
      width: 30px;
      height: 30px;
      margin-left: 25px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.cart {
        padding: 1.5px;
      }

      &.favorite {
        padding: 3px;
      }
    }

    &-notify {
      position: absolute;
      top: 0;
      right: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $primary;
      color: $white;
      display: flex;
      font-size: 10px;
      align-items: center;
      justify-content: center;
    }
  }

  &-cart-products {
    max-height: 350px;
    overflow: auto;
  }

  &-cart-product-item {
    padding: 15px 15px;
    display: flex;
    align-items: center;
    transition: $common-transition;

    &:hover {
      background: $wild-sand;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $mercury;
    }

    &-image {
      flex: 0 0 65px;
      max-width: 65px;
      background: $mercury;
      border: 1px solid $mercury;

      img {
        width: 100%;
        opacity: 0.9;
      }
    }

    &-info {
      flex: 1;
      margin: 0 10px;
    }

    &-price,
    &-quantity,
    &-title {
      font-size: 14px;
      margin: 0;
      display: block;
    }

    &-old-price {
      font-size: 12px;
      color: $dusty-gray;
      display: block;
    }

    &-quantity {
      color: $dove-gray;
    }

    &-title {
      color: $mine-shaft;
      font-weight: 600;
    }

    &-remove {
      flex: 0 0 18px;
      max-width: 18px;
      .Icon {
        width: 18px;
        height: 18px;
      }
    }

  }

  &-cart-empty {
    padding: 15px;

    .Icon {
      width: 90px;
      height: 90px;
      margin-bottom: 15px;
      margin-left: -15px;
    }
  }

  &-cart-overlay {
    width: 360px;

    &-header {
      padding: 10px 15px;
      font-size: 14px;
      color: $dove-gray;
      border-bottom: 1px solid $mercury;
    }

    &-total {
      font-size: 14px;
      color: $mine-shaft;
      padding: 10px 15px;
      border-top: 1px solid $mercury;
      border-bottom: 1px solid $mercury;
    }

    &-footer {
      padding: 10px 15px;

      .Button {
        flex: 0 0 calc(100% / 2 - 5px);
        max-width: calc(100% / 2 - 5px);
      }
    }

    

    span.primary-color {
      font-weight: 600;
    }
  }
}

.HeaderMenu {
  background: $primary;

  &-wrapper {
    height: 50px;
  }

  &-categories {
    max-width: 290px;
    flex: 1;
    background: $mine-shaft;
    margin-right: 15px;

    &-item {
      height: 100%;
      padding: 12px 15px;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;

      .Icon {
        width: 18px;
        height: 18px;
      }
    }

    &-dropdown-item {
      padding: 12px 10px;
      transition: $common-transition;
      cursor: pointer;

      &:hover {
        background: $wild-sand;

        .HeaderMenu-categories-dropdown-item-title {
          color: $primary;
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $mercury;
      }

      &-image {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        border: 1px solid $mercury;
        border-radius: $common-radius;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &-title {
        color: $dove-gray;
        transition: $common-transition;
      }
    }

    &-overlay {
      padding: 10px;
    }
  }

  &-menu {
    .DropdownList-body {
      height: 100%;

      &.ant-dropdown-open {
        .HeaderMenu-menu-item {
          background: $mine-shaft;
        }
      }
    }

    &-item {
      padding: 0 15px;
      height: 100%;
      font-size: $common-font-size;
      text-transform: uppercase;
      color: $white;
      transition: $common-transition;

      &:hover {
        background: $mine-shaft;
        color: $white;
      }

      .Icon {
        width: 8px;
        height: 8px;
        margin-left: 5px;
      }
    }
  }
}