@import '../../assets/styles/global';

.Footer {
  background: $mine-shaft;

  &-top {
    padding: 80px 0;
  }

  &-bottom {
    padding: 15px 0;
    border-top: 1px solid rgba($white, 0.1);

    .Footer-text {
      font-weight: 300;
    }
  }

  &-social {
    &-item {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $common-transition;

      &:hover {
        cursor: pointer;
        background: $primary;

        .Icon svg {
          fill: $white;
        }
      }

      .Icon svg {
        transition: $common-transition;
      }

      &.facebook .Icon {
        width: 18px;
      }

      &.twitter .Icon {
        width: 18px;
      }

      &.google .Icon {
        width: 18px;
      }

      &.youtube .Icon {
        width: 18px;
      }

      &.instagram .Icon {
        width: 18px;
      }
    }
  }

  &-item {
    max-width: calc(16.66% - 30px);

    &:nth-of-type(1),
    &:nth-of-type(5) {
      max-width: calc(25% - 30px);
    }
  }

  a:hover {
    color: $white;
  }

  &-logo {
    max-width: 125px;
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }

  &-text {
    font-size: 14px;
    color: $dove-gray;
    line-height: 1.8;
  }

  &-title {
    text-transform: uppercase;
    color: $white;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &-list {
    list-style: none;
    padding: 0;

    .Footer-text {
      margin: 0;
    }

    &-item {
      margin-bottom: 12px;

      .Icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  &-payment-cards-item {
    width: 40px;
    margin-left: 5px;
  }
}