@import '../../assets/styles/global';

.Sidebar {
  height: 100vh;
  border-right: 1px solid $mercury;

  &-top {
    height: 82px;
    padding: 24px 30px;
    border-bottom: 1px solid $mercury;
  }

  &-logo {
    max-width: 125px;

    img {
      width: 100%;
    }
  }

  &-user {
    padding: 30px;
    border-bottom: 1px solid $mercury;

    &-avatar {
      border: 10px solid $mercury;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      margin: 0 auto 15px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      text-align: center;
      color: $primary;
      font-size: 14px;
      font-weight: 600;
    }

    &-des {
      text-align: center;
      font-size: 13px;
      color: $dove-gray;
    }
  }

  &-toggle-menu {
    position: relative;
    border-radius: 4px;
    width: 35px;
    height: 30px;
    transition: $common-transition;
    cursor: pointer;
    display: flex;
    margin-right: -8px;

    .Icon {
      width: 20px;
      margin: auto;
    }

    &:hover {
      background: $wild-sand;
    }
  }

  &-menu {
    padding: 30px 15px;
    overflow: auto;
    max-height: 500px;

    &-item {
      padding: 10px 15px;
      border-radius: 8px;
      transition: $common-transition;
      margin-bottom: 5px;

      &:hover,
      &.active {
        background: $primary;
        .Sidebar-menu-item {

          &-icon {
            .Icon svg {
              stroke: $white;
            }

            &.arrow {
              opacity: 1;

            .Icon svg {
              fill: $white;
            }
            }
          }

          &-title {
            color: $white;
          }
        }
      }

      &-icon {
        flex: 0 0 24px;
        max-width: 24px;
        display: flex;

        &.arrow {
          transition: $common-transition;
          opacity: 0;
          .Icon {
            width: 10px;
            height: 10px;
          }
        }

        .Icon {
          width: 18px;
          height: 18px;
          margin: auto;

          svg {
            transition: $common-transition;
          }
        }
      }

      &-title {
        flex: 1;
        margin: 0 15px;
        font-size: 14px;
        font-weight: 500;
        transition: $common-transition;
        color: $mine-shaft;
      }
    }
  }
}