@import '../../assets/styles/global';

.ModalConfirm {
  &-title {
    font-size: 22px;
    color: $mine-shaft;
    text-align: center;
    font-weight: 600;
    margin: 30px 0 10px;
  }

  &-description {
    text-align: center;
    font-size: 14px;
    color: $dove-gray;
    margin-bottom: 30px;
  }

  &-actions {
    margin-bottom: 15px;
    .Button {
      margin: 0 10px;
      min-width: 120px;
    }
  }
}